<ng-container >
  <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="text">
        <img src="https://www.shareicon.net/data/128x128//2015/11/13/671536_add_512x512.png" alt="">
        <h3>Robert Bosch</h3>
        <p>23 de setembro de 1861, Albeck, Langenau, Alemanha</p>
        <p>
          Robert Bosch GmbH é uma empresa multinacional alemã de engenharia e eletrônica com sede em Gerlingen, perto de
          Estugarda, na Alemanha. É a maior rede de oficinas do mundo, medida pelas receitas de 2011. A empresa foi
          fundada por Robert Bosch em Estugarda, em 1886.
        </p>
      </div>
    </div>
  </div>
</ng-container>
